.react-autocomplete-textArea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  line-height: 1.5;
}

.react-autocomplete-textArea:focus {
  outline: none;
  border-color: #40a9ff;
  box-shadow: 0 1px 3px 0 #d4d9e1;
}

.react-autocomplete-backdrop {
  z-index: 19999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.react-autocomplete-input {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  bottom: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: block;
  font-size: 14px;
  list-style: none;
  padding: 1px;
  position: absolute;
  text-align: left;
  z-index: 20000;
  border-radius: 5px;
}

.react-autocomplete-input > li {
  cursor: pointer;
  min-width: 100px;
  padding: 5px 8px;
  line-height: 1;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-autocomplete-input-li-active {
  background-color: #096dd9;
  color: #fff;
}
